In [111]:
import numpy as np
import pandas as pd

A 0.5 MB file is going to be used to ilustrate how to reduce the memory consumption of the pandas dataframes. The file contains all the stops times where public transport operates inside Helsinki city. Using some pandas tips we will reduce up to  87 % of the initial memory overload of the standard pandas object.

In [112]:
df = pd.read_csv('C:/Users/Marc/Desktop/MUV/Datasets/Helsinki/gtfs/stop_times.txt')
print(df.head())

                   trip_id arrival_time departure_time  stop_id  \
0  1001_20180621_Ke_1_0535     05:35:00       05:35:00  1050417
1  1001_20180621_Ke_1_0535     05:36:00       05:36:00  1050416
2  1001_20180621_Ke_1_0535     05:38:00       05:38:00  1050408
3  1001_20180621_Ke_1_0535     05:39:00       05:39:00  1050413
4  1001_20180621_Ke_1_0535     05:40:00       05:40:00  1040401

   stop_sequence           stop_headsign  pickup_type  drop_off_type  \
0              1  Käpylä via Lasipalatsi            0              1
1              2  Käpylä via Lasipalatsi            0              0
2              3  Käpylä via Lasipalatsi            0              0
3              4  Käpylä via Lasipalatsi            0              0
4              5  Käpylä via Lasipalatsi            0              0

   shape_dist_traveled  timepoint
0                0.000          1
1                0.281          0
2                0.959          0
3                1.181          0
4                1.451          0

In [113]:
mem = df.memory_usage(deep=True).sum()/(1024*1024)
print('memory on MB:')
print(mem)
print('\nData types\n')
print(df.dtypes)
print('\nQuantity of nuls\n')
print(df.isnull().sum())

memory on MB:
1684.1118535995483

Data types

trip_id                 object
arrival_time            object
departure_time          object
stop_id                  int64
stop_sequence            int64
stop_headsign           object
pickup_type              int64
drop_off_type            int64
shape_dist_traveled    float64
timepoint                int64
dtype: object

Quantity of nuls

trip_id                     0
arrival_time                0
departure_time              0
stop_id                     0
stop_sequence               0
stop_headsign          245690
pickup_type                 0
drop_off_type               0
shape_dist_traveled         0
timepoint                   0
dtype: int64

Now we know the dataframe consumes 1684.11 MB of memory. The most consuming data type is object type, so in case that can't be converted to float or int, the category type can be considered. For the float type we can check if it's possible to convert it to int depending on the existence of NaNs and the floating values. If can't be converted to int, downcast will be useful to use less bites for value. The int type is the most efficient, downcast will be good to decrease the memory overload.

Abstract:
condtion to be int: be numeric, not floating values, not NaN values
condition to be float: floating values, has NaN 
condition to be category: more than a half of the records are not unique (floats or objects)

The following code willl compute the distinct values for every column

In [114]:
for col in df.columns:
    print(col)
    print(df[col].value_counts())

trip_id
7667_20180621_Ma_2_0715     87
9788K_20180621_To_1_1552    87
9788K_20180621_Ma_1_1215    87
9788K_20180621_Ti_1_0755    87
9788K_20180621_Ke_1_0900    87
9788K_20180621_Ke_1_1730    87
9788K_20180621_Ti_1_0900    87
9788K_20180621_To_1_0755    87
9788K_20180621_Ke_1_1552    87
9788K_20180621_Su_1_1440    87
9788K_20180621_Pe_2_0750    87
9788K_20180621_La_2_1215    87
7667_20180621_Ti_2_0715     87
9788K_20180621_Ma_2_0605    87
9788K_20180621_Ma_2_0750    87
9788K_20180621_To_1_1730    87
9788K_20180621_JP_1_1440    87
7667_20180621_To_2_0715     87
9788K_20180621_Ma_1_1552    87
9788K_20180621_Ma_1_0755    87
9788K_20180621_Ti_2_0605    87
9788K_20180621_To_2_1230    87
9788K_20180621_JP_2_1615    87
9788K_20180621_Pe_1_1215    87
9788K_20180621_Su_1_1840    87
7667_20180621_Pe_2_0715     87
9788K_20180621_Su_2_1615    87
9788K_20180621_La_1_1840    87
9788K_20180621_Ma_2_1230    87
9788K_20180621_Pe_1_0755    87
                            ..
1019_20180621_To_1_0850      2
1019_20180621_La_1_1300      2
1094R_20180621_Ma_2_1340     2
4434_20180621_Pe_2_1643      2
1019_20180621_Ke_2_2100      2
4434_20180621_To_1_1748      2
1019E_20180621_To_2_1340     2
1019_20180621_Pe_1_1900      2
1019_20180621_Su_2_2220      2
1019_20180621_Pe_1_1700      2
1019_20180621_Su_1_2040      2
4434_20180621_La_2_2326      2
1019_20180621_Ke_1_1800      2
1019_20180621_Ti_1_1620      2
4434_20180621_Ti_1_2123      2
1019_20180621_Pe_1_2320      2
4434_20180621_Ti_1_1818      2
1019E_20180621_Pe_2_1340     2
1019_20180621_Ti_1_1020      2
4434_20180621_Su_2_0856      2
1019_20180621_Ti_2_1020      2
1019_20180621_To_1_1900      2
1019_20180621_To_2_1420      2
1019_20180621_Ma_2_1720      2
1019_20180621_Ma_2_1420      2
1019_20180621_Ma_1_1340      2
1019_20180621_Ma_1_0700      2
4434_20180621_Ti_2_0933      2
4434_20180621_Su_2_2034      2
4434_20180621_Ke_2_0603      2
Name: trip_id, Length: 189639, dtype: int64
arrival_time
16:50:00    5694
15:50:00    5671
16:10:00    5603
16:30:00    5596
17:10:00    5595
15:30:00    5587
16:40:00    5564
17:05:00    5561
17:50:00    5540
16:37:00    5534
16:35:00    5523
16:20:00    5513
17:12:00    5513
15:10:00    5511
15:20:00    5486
16:05:00    5474
16:36:00    5473
15:37:00    5473
17:01:00    5472
17:30:00    5470
16:25:00    5461
16:00:00    5444
17:35:00    5442
16:07:00    5441
16:57:00    5435
16:31:00    5433
15:42:00    5430
17:09:00    5426
16:13:00    5410
17:07:00    5410
            ...
29:27:00      17
04:01:00      16
03:59:00      16
29:25:00      16
04:02:00      13
29:28:00      12
29:34:00      11
04:03:00       9
29:29:00       8
29:31:00       8
29:33:00       7
03:54:00       6
03:18:00       6
04:00:00       6
03:44:00       6
03:32:00       6
03:57:00       6
03:25:00       6
03:37:00       6
03:35:00       6
03:04:00       6
03:52:00       6
03:47:00       6
29:32:00       6
03:50:00       6
29:37:00       5
29:30:00       5
29:35:00       5
29:36:00       4
29:38:00       2
Name: arrival_time, Length: 1552, dtype: int64
departure_time
16:50:00    5699
15:50:00    5658
16:30:00    5604
17:10:00    5603
15:30:00    5565
17:05:00    5543
16:40:00    5542
16:10:00    5535
16:35:00    5512
17:50:00    5510
16:37:00    5506
17:01:00    5483
17:30:00    5483
16:20:00    5481
17:09:00    5475
17:12:00    5472
16:05:00    5470
16:33:00    5467
16:13:00    5453
16:36:00    5447
16:34:00    5444
15:10:00    5443
17:35:00    5441
15:20:00    5439
15:48:00    5431
16:25:00    5424
16:31:00    5423
15:37:00    5421
16:57:00    5420
16:00:00    5410
            ...
29:25:00      16
04:01:00      16
29:27:00      16
03:59:00      16
04:02:00      13
29:28:00      11
29:34:00      11
29:29:00      10
04:03:00       9
29:31:00       8
29:33:00       7
29:32:00       6
04:00:00       6
03:37:00       6
03:18:00       6
03:47:00       6
03:35:00       6
03:54:00       6
03:04:00       6
03:44:00       6
03:57:00       6
03:25:00       6
03:32:00       6
03:50:00       6
03:52:00       6
29:35:00       5
29:37:00       5
29:30:00       5
29:36:00       4
29:38:00       2
Name: departure_time, Length: 1552, dtype: int64
stop_id
1020201    9346
1113131    9115
1020453    8757
1111116    8393
1020454    8293
1112126    7822
1230407    7542
1130107    6942
1020106    6927
1140115    6754
1150111    6588
1160109    6577
1150112    6499
1121437    6298
1121436    6288
1020105    6272
1020459    6117
1020457    6117
1020460    6104
1020458    6104
1160104    6050
1160107    6050
1140117    5868
1150113    5850
1130103    5821
1150114    5758
1140118    5752
1433113    5723
2111231    5677
1020455    5521
           ...
6040285       4
6301024       4
6304009       4
6304008       4
6301023       4
6302010       4
6302018       4
6302019       4
6304007       4
6302005       4
6302004       4
6302007       4
6302006       4
6302001       4
6302000       4
6302003       4
6302002       4
6302009       4
6302011       4
6302021       4
6302020       4
6302017       4
6302016       4
6302008       4
9500230       2
9040222       2
9500229       1
9500101       1
1121451       1
9040200       1
Name: stop_id, Length: 7840, dtype: int64
stop_sequence
1     189639
2     189639
3     188366
4     188316
5     188143
6     187226
7     185975
8     184646
9     180255
10    179736
11    176549
12    172849
13    169075
14    165167
15    159357
16    156785
17    155110
18    151323
19    148002
20    133424
21    130565
22    126919
23    115690
24    110903
25    105230
26     94588
27     85223
28     82604
29     76353
30     71084
       ...
58      5936
59      5777
60      4017
61      3668
62      3301
63      3239
64      3199
65      2668
66      2351
67      1455
68      1079
69       898
70       830
71       788
72       752
73       602
74       566
75       492
76       333
77       328
78       328
79       307
80       281
81       251
82       238
83       192
84       166
85       126
86       108
87        58
Name: stop_sequence, Length: 87, dtype: int64
stop_headsign
Rautatientori via Sörnäinen(M)    145050
Leppävaara                        117329
Elielinaukio                       99634
Matinkylä (M)                      85612
Helsinki                           77086
Kamppi                             73726
Itäkeskus(M)                       69130
Herttoniemi(M)                     62288
Tapiola (M)                        56800
Espoon keskus                      49079
Tikkurila                          47816
Matinkylä                          44010
Munkkivuori                        42409
Rautatientori                      39666
Lentoasema                         36559
Arabia                             35257
Myyrmäki                           29071
Länsiterm. via Sörnäinen (M)       27984
Eira via Kamppi(M)                 27462
Pasila as.                         26028
Vuosaari                           25741
Helsinki via Huopalahti            24398
Kerava                             23601
Mellunmäki                         23438
Kivistö                            23042
Länsiterm.                         22199
Tapiola                            22138
Hernesaari                         21938
Lentoasema via Tikkurila           21856
Kauklahti                          20976
                                   ...
Kellonummi                            60
Linjamäki via Purola                  55
Katajanokka via Kruununhaka           50
Munkkiniemi via Rautatieasema         50
Kerava via Nikkilä                    50
Vuosaaren satama via Vuosaari         50
Järvenpää via Purola                  50
Pihlajamäki via Pornainen             50
Vallila via Rautatieas.               48
Leppävaara via Jorvi                  45
Savela                                45
Kivistö via Koivupää                  45
Linjamäki                             40
Suomenlinna, huoltol                  40
Ristikivi                             40
Länsiterminaali via Kamppi(M)         37
Sörnäinen (M) via Lasipalatsi         36
Sörnäinen (M) via Töölö               30
Tikkurila via Ilola                   28
Viro                                  24
Halkia                                20
Keravan asema                         16
Pihlajamäki via Halkia                10
Karjaa via Siuntio as.                 7
Pihlajamäki                            5
Jokela via Järvenpää                   4
Kerava via Järvenpää                   2
Jokela                                 2
Jokela via Saunakallio                 2
Kerava via Ainola as.                  1
Name: stop_headsign, Length: 981, dtype: int64
pickup_type
0    4976021
1     194027
2       3572
Name: pickup_type, dtype: int64
drop_off_type
0    4983529
1     190091
Name: drop_off_type, dtype: int64
shape_dist_traveled

0.000     189639
1.862       5534
10.519      4347
6.134       4301
2.967       4145
1.174       4099
2.975       4006
2.259       3999
2.603       3996
1.035       3897
3.326       3889
0.820       3876
16.824      3843
0.332       3771
1.647       3771
6.976       3758
13.706      3758
6.061       3743
2.880       3686
5.458       3617
0.736       3589
7.823       3451
3.896       3420
3.479       3226
4.162       3128
1.951       3115
12.133      3092
7.658       3081
5.057       3037
7.190       3014
           ...
24.545         1
15.035         1
19.633         1
24.923         1
28.520         1
17.792         1
27.169         1
21.032         1
40.208         1
32.713         1
43.920         1
16.921         1
29.776         1
9.343          1
22.340         1
18.234         1
1.452          1
28.128         1
31.495         1
38.036         1
39.119         1
26.682         1
47.286         1
0.872          1
37.562         1
11.697         1
26.374         1
18.689         1
27.296         1
35.772         1
Name: shape_dist_traveled, Length: 16001, dtype: int64
timepoint
0    4803749
1     369871
Name: timepoint, dtype: int64

In [123]:
df_new = pd.DataFrame(index = df.index)

def memory_saving(df, df_new, columns):
    memory = df[columns].memory_usage(deep=True).sum()/(1024*1024)
    memory_new = df_new[columns].memory_usage(deep=True).sum()/(1024*1024)  
    print('memory save (MB): ' + str(memory - memory_new))


def DownCastInt(df, df_new):
    # takes a numeric column and returns it's lowest int type. 
    int_cols = df.select_dtypes(include=['integer']).columns
    for col in int_cols:
        df_new[col] = pd.to_numeric(df[col], downcast='integer')
        print(col + ': ' + str(df[col].dtype) + ' ==> ' + str(df_new[col].dtype))

    memory_saving(df, df_new, int_cols)
    return df_new


def DownCastFloat(df, new_df):
    float_cols = df.select_dtypes(include=['float']).columns
    for col in float_cols:
        df_new[col] = pd.to_numeric(df[col], downcast='float')
        print(col + ': ' + str(df[col].dtype) + ' ==> ' + str(df_new[col].dtype))
    memory_saving(df, df_new, float_cols)
    return df_new


def to_categorical(df, df_new):
    obj_cols = df.select_dtypes(include=['object']).columns
    
    for col in obj_cols:        
        num_unique_values = len(df[col].unique())
        num_total_values = len(df[col])
        if num_unique_values / num_total_values < 0.5:
            df_new[col] = df[col].astype('category')    
            print(col + ': ' + str(df[col].dtype) + ' ==> ' + str(df_new[col].dtype))
    memory_saving(df, df_new, obj_cols)
    
    return df_new

In [124]:
df_new = DownCastInt(df, df_new)

stop_id: int64 ==> int32
stop_sequence: int64 ==> int8
pickup_type: int64 ==> int8
drop_off_type: int64 ==> int8
timepoint: int64 ==> int8
memory save (MB): 157.8863525390625

In [125]:
df_new = to_categorical(df, df_new)

trip_id: object ==> category
arrival_time: object ==> category
departure_time: object ==> category
stop_headsign: object ==> category
memory save (MB): 1378.0406789779663

In [126]:
# We can multiply records in order not have any value after the comma. If we don't have any NaN, we are able to trasform into INT.

df_new['shape_dist_traveled(m)']  = (df['shape_dist_traveled']*1000).astype(int)

memory = df['shape_dist_traveled'].memory_usage(deep=True)/(1024*1024)
memory_new = df_new['shape_dist_traveled(m)'].memory_usage(deep=True)/(1024*1024)

print('memory save (MB): ' + str(memory - memory_new))

memory save (MB): 19.735794067382812

In [130]:
print(df_new.dtypes)
print()
print('original memory: ', df.memory_usage(deep=True).sum()/(1024*1024))
print('new memory: ', df_new.memory_usage(deep=True).sum()/(1024*1024))

stop_id                      int32
stop_sequence                 int8
pickup_type                   int8
drop_off_type                 int8
timepoint                     int8
trip_id                   category
arrival_time              category
departure_time            category
stop_headsign             category
shape_dist_traveled(m)       int32
dtype: object

original memory:  1684.1118535995483
new memory:  128.44902801513672

Using this proces we are able to save 1156 MB of memory and work with better huge files in terms of efficiency, speed and memory overload.